<?xml version="1.0"?>
<config>
    <modules>
        <PW_YouTubeVideo>
            <version>1.2.3</version>
        </PW_YouTubeVideo>
    </modules>
    <global>

        <models>
            <PW_YouTubeVideo>
                <class>PW_YouTubeVideo_Model</class>
            </PW_YouTubeVideo>
        </models>
        <helpers>
            <pw_youtubevideo>
                <class>PW_YouTubeVideo_Helper</class>
            </pw_youtubevideo>
        </helpers>
		<resources>
		  <pw_youtubevideo_setup>
		    <setup>
		      <module>PW_YouTubeVideo</module>
		      <class>PW_YouTubeVideo_Model_Resource_Eav_Mysql4_Setup</class>
		    </setup>
		    <connection>
		      <use>core_setup</use>
		    </connection>
		  </pw_youtubevideo_setup>
		  <pw_youtubevideo_write>
		    <connection>
		      <use>core_write</use>
		    </connection>
		  </pw_youtubevideo_write>
		  <pw_youtubevideo_read>
		    <connection>
		      <use>core_read</use>
		    </connection>
		  </pw_youtubevideo_read>
		</resources>
        
    </global>
    <frontend>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <PW_YouTubeVideo>
                        <class>PW_YouTubeVideo/Observer</class>
                        <method>youtubeVideo</method>
                    </PW_YouTubeVideo>
                </observers>
            </controller_action_layout_load_before>
        </events>
     <layout>
          <updates>
                <youtubevideo>
                    <file>youtubevideo.xml</file>
                </youtubevideo>                
            </updates>          
        </layout> 
    </frontend>
</config>